/* -------------------------------------------------------------- */
.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.projectTitle {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: end;
  text-transform: capitalize;
}

.projectDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* --------------------------------------------------------------------- */

.section {
  margin-top: 0;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroTitle {
  align-self: flex-start;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  text-align: end;
  max-width: 75%;
  text-align: justify;
  align-self: flex-end;
}

.arrow {
  align-self: flex-end;
  font-size: 3rem;
}

/* ------------------------Responsive Design--------------------- */
/*---------------START WITH MOBILE FIRST--------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .description {
    max-width: 60%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .description {
    max-width: 40%;
  }
}

/* ------------------------------------------------------------- */
