:root {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #d8d9cf;
}

body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

::selection {
  background-color: #111111;
  color: #d8d9cf;
}

section {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

Image {
  max-width: 100%;
  max-width: 50vh;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: start;
  font-size: 3rem;
}

h2 {
  text-align: left;
  font-size: 2rem;
}

a, Link {
  text-decoration: underline;
  color: inherit;
}

a, p, li, table {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/* ------------------------Responsive Design--------------------- */
/*---------------START WITH MOBILE FIRST--------------------*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  a, p, li, table {
    font-size: 1.2rem;
  }

  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  a, p, li, table {
    font-size: 1.2rem;
  }

  section {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  a, p, li, table {
    font-size: 1.3rem;
  }

  section {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 6.5rem;
  }

  a, p, li, table {
    font-size: 1.5rem;
  }

  section {
    margin-top: 10rem;
    margin-bottom: 4rem;
  }
}