.nav {
    position: absolute;
    right: 0.5rem;
    top: 30vh;
}

.nav ul {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: end;
    justify-content: space-between;
    height: 100%;
}

.nav ul li{
margin: 0.5rem 0 0.5rem 0;
}